* {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color:aquamarine;
}

header h1 {
    text-align:center;
    font-size:3em;
}

header {
    margin-bottom:12%;
}

main {
    
    background-color:#fff;
    border-radius:10px;
    margin:auto;
    width:500px;
    box-shadow:2px 4px 2px 4px rgba(0, 0, 0, 0.63);
}

main p {
    padding:10px;
    font-size:1.5em;
    text-align:center;
    
}

main input {
    display:block;
    margin:auto;
    padding:2px;
    border-radius:5px;
    font-size:2em;
}

button {
    display:block;
    margin:auto;
    font-size:1.3em;
    margin-bottom:10px;
    padding:5px;
    border-radius:5px;
    cursor:pointer;
}